#container {
	background-image: url("img/stage.png");
	margin: 0 auto;
	width: 1280px;
	height: 769px;
}

#hit-count {
	float: left;
	color: green;
}

#miss-count {
	float: right;
	color: red;
}